*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
}
body{
	background-color: #363636 !important;
}
p{
	margin;
}
h1{
	margin-top: 10%;
}
h2{
	font-size: 25px;
	color: #fff !important;
}
p.tituloSelect{
	color: #B5B5B5;
	margin-top: 20px;
	margin-left: 13%;
	font-size: 15px;
}
p#p_1{
	color: #ffffff;
    font-size: 24px;
}
select{
	background-color: #363636 ;
	border-radius: 2px ;
	width: 520px ;
	height: 50px;
	border-color: #828282;
	margin-left: 13% !important;
	padding-left: 10px;
	font-size: 15px !important;
	color: #000;
	
}
.txtEx{
	border-radius: 2px ;
	width: 520px ;
	height: 50px;
	border-color: #828282;
	font-size: 15px;
	color: #000;
	margin-left: 13%;
	padding-left: 10px;
}
div#tudo{
	background-color: #363636;
	width: 1300px;
	margin: 0 auto;
	margin-top: 4%;
	padding: 20px;
}
span{
	display: block;
}
.txtCaixa{
	margin-bottom: 15px;
}
.parEstilo1{
	padding: 15px;
}
#cad{
	margin-top: 10px;
}
input{
	height: 45px;
	width: 250px;
	padding: 6px;
	font-size: 20px;
}
#divLogin{
	display: block;
}
#divCad{
	display: block;
	float: right;
}
#qtdProd{
	width: 30px;
	height: 30px;
}
#item{
	display: block;
}
select{
	background-color: #ffffff;
}
div#conteudo{
	border: 3px solid #696969;
	border-radius: 10px;
	background-color:#1C1C1C;
	padding: 5% 0 5% 6%;
	margin: 0 auto !important;
}
#img_car{
	width: 297px;
	height: 297px;
}
#btn-atualizar{
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	background-color: #FFFFFF;
	width: 180px;
	color: #000000;
}
#btn-atualizar:hover{
	background-color: #C0C0C0;
}
div.pc{
	border: 1px solid white;
	border-radius: 4px;
	display: block;
	display:inline-block;
	width: 350px;
	padding: 15px;
}
tr th{
	color: #FFFFFF;
}
td{
	color: #FFFFFF;
}
.txt_car{
	color: #000000;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}
a href{
	color: white;
}
img#logo{
	width: 50px;
	height: 50px;
	padding: 4px;
}
.img_carrinho{
	width: 100px;
	height: 120px;
	border: 1px solid #C0C0C0;
	border-radius: 3px;
	background-color: #585858;
	padding: 3px;
	
}
.btn-buy{
	background-color: #a94442;
	color: #FFFFFF;
	padding: 5px;
	border-radius: 4px;
	width: 100px;
}
.message{
	font-size: 20px;
	color: #ff0000;
}
#btn_addcar{
	margin-top: 3%;
}
#btnMais,#btnMenos{
	width: 25px;
	height: 25px;
}
.slide1{
    background-image: url('../img/slider/razer.png');
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide2{
    background-image: url('../img/slider/gtx.jpg');
    height: 450px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slide3{
	background-image: url('../img/slider/alien.jpg');
    height: 450px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-caption h1{
    font-size: 5.4em;
    font-family: cursive;
    padding-bottom: .4em;
}
.carousel-caption p{
	font-size: 2em;
}
.txtD{
	color: #fff;
}
#carrinho th, td{
	padding: 10px !important;
}
#btnFinalizar{
	margin-left: 50%;
}
table,tr,td,th{
	border: 1px solid #808080;
}
div.recebe_imagem{
	border: 1px solid #fff;
	width: 100px;
	height: 100px;
	padding: 1px;
}
.slcBloco{
	display: block;
	border: 1px solid #fff;
}